{% extends base_template %}

{% load humanize %}

{% block title %}{{ object }} | Casting{% endblock %}

{% block content %}
{% if object.cast_list_released or user_is_staff or allow_view_first_cast %}
<h3 class="text-center">
  {% if not show_all_actors %} First-Round {% endif %}
  Cast List for:
</h3>
<h2 class="text-center">{{ object }}</h2>
{% if user_is_staff %}
<div class="row justify-content-center">
  <div class="col-md-8 text-center">
    {% if object.cast_submitted %}
    <div class="alert alert-info">
      <strong>Cast List submitted!</strong>
      Your cast list has been submitted and can no longer be changed.
    </div>
    {% else %}
    {% if object.first_cast_submitted %}
    <div class="alert alert-info">
      Your first-round casting has been submitted and can no longer be changed.
      <strong>Though you can see alternates, only your first-round casting is
	visible to staff members of other shows.</strong>
    </div>
    {% endif %}
    <div class="alert alert-danger">
      {% if request.session.CAST_SUBMIT_FLOW == object.pk %}
      <form action="{% url 'casting:cast_submit' object.pk %}"
	    method="POST">
	{% csrf_token %}
	{% if object.first_cast_submitted %}
	<p class="lead">
	  Please re-read and confirm your cast lists below.
	  Note that once you have submitted, you CANNOT MAKE CHANGES.
	</p>
	<button type="submit" class="btn btn-danger btn-block">Submit</button>
	<a href="{% url 'casting:cast_list' object.pk %}"
	   class="btn btn-primary btn-block">
	  Go Back and Make Changes</a>
	{% else %}
	<p class="lead">
	  Please re-read and confirm your first-round casting below.
	  Note that once you have submitted, you may not add or remove
	  characters, and you cannot change the first set of actors for a
	  character up to the number allowed to sign for that character, nor the
	  number allowed to sign for any character.
	</p>
	<button type="submit" class="btn btn-danger btn-block">
	  Submit First-Round Casting</button>
	<a href="{% url 'casting:cast_list' object.pk %}"
	   class="btn btn-primary btn-block">
	  Go Back and Make Changes</a>
	{% endif %}
      </form>
      {% else %}
      {% if request.session.CAST_SUBMIT_ERRORS == object.pk %}
      Your cast list has errors. Please fix them and try again.<br>
      {% else %}
      <strong>This is a preview!</strong>
      You have not yet submitted your cast list.<br>
      {% endif %}
      <small>Please go
	<a href="{% url 'casting:cast_list' object.pk %}">here</a>
	to edit and submit it.
      </small>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
{% endif %}
<div class="row justify-content-center">
  <div class="col">
    <p class="lead casting-public-description">{{ object.cast_list_description|urlize|linebreaksbr }}</p>
  </div>
</div>
<div class="container-fluid limited-container-1200">
  <div class="row justify-content-center">
    {% for character in characters %}
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
      <div class="card">
	<div class="card-header text-center p-2">
	  <h5 class="card-title mb-0">
	    {% if character.name or not user_is_staff %}
	    {{ character.name }}
	    {% else %}
	    <span class="text-danger">&lt;Unnamed Character&gt;</span>
	    {% endif %}
	  </h5>
	</div>
	<ul class="list-group list-group-flush">
	  {% for signing in character.signing_set.all %}
	  {% if show_all_actors or signing.order < character.allowed_signers %}
	  <li class="list-group-item signing-item {% if signing.order < character.allowed_signers %}no-signing-numbering{% elif signing.order == character.allowed_signers %}restart-signing-numbering{% endif %}">
	    <div class="signing-count w-100">
	      {% if object.cast_submitted %}
	      {% if signing.signable %}
	      {% if signing.response is True %}
	      <span
		 class="badge badge-success badge-pill pull-right fa fa-check"
		 title="Accepted" data-toggle="tooltip"> </span>
	      {% elif signing.response is False %}
	      {% if signing.timed_out %}
	      <span class="badge badge-danger pull-right fa fa-clock-o"
		    title="Unsigned" data-toggle="tooltip"> </span>
	      {% else %}
	      <span class="badge badge-danger pull-right fa fa-times"
		    title="Rejected" data-toggle="tooltip"> </span>
	      {% endif %}
	      {% else %}
	      <span class="badge badge-light pull-right fa fa-question"
		    title="No Response" data-toggle="tooltip"> </span>
	      {% endif %}
	      {% else %}
	      <span class="badge badge-secondary pull-right fa fa-ban"
		    title="Blocked" data-toggle="tooltip"> </span>
	      {% endif %}
	      {% endif %}
	      {{ signing.actor }}
	    </div>
	  </li>
	  {% endif %}
	  {% endfor %}
	</ul>
	{% if character.allowed_signers != 1 or character.cast_description or character.allow_multiple_signatures %}
	<div class="card-footer py-2 px-3">
	  {% if character.allowed_signers != 1 %}
	  <small class="text-muted">
	    {{ character.allowed_signers|apnumber|capfirst }} actors can sign
	    for this part.
	  </small>
	  <hr class="mb-1 mt-2">
	  {% endif %}
	  {% if character.allow_multiple_signatures %}
	  <small class="text-muted">
	    This role can be signed for in addition to other roles in this show.
	  </small>
	  <hr class="mb-1 mt-2">
	  {% endif %}
	  {% if character.cast_description %}
	  <small class="text-muted">
	    {{ character.cast_description|urlize|linebreaksbr }}
	  </small>
	  {% endif %}
	</div>
	{% endif %}
	{% if character.actors %}
	<div class="card-footer py-2 px-3">
	  <small>
	    <span class="text-muted">This role has been filled by</span>
	    {% for actor in character.actors %}
	    {{ actor }}
	    {% if forloop.revcounter0 == 1 %}
	    and
	    {% elif not forloop.last %},
	    {% endif %}
	    {% endfor %}
	  </small>
	</div>
	{% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% if object.cast_list_released and not popout %}
<div class="row justify-content-center">
  <div class="col-md-6 text-center">
    {% if object.release_meta.stage < 6 %}
    <p class="lead">
      If you have been cast in this show, please
      {% if request.user.is_authenticated %}
      click <a href="{% url 'casting:signing' %}#{{ object.pk }}">here</a>
      {% else %}
      click the link in the notification email you received
      {% endif %}
      to sign for your role, or
      <a href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'casting:signing' %}#{{ object.pk }}">sign in</a>
      to your account via Google.
    </p>
    <p>
      If you cannot find the link or it does not work, please
      <a href="{% url 'casting:request_link' %}">request a new signing link</a>.
    </p>
    {% else %}
    <p class="lead">
      The signing period has ended. Please contact the show staff directly with
      any questions or to accept or decline roles.
    </p>
    {% endif %}
  </div>
</div>
{% endif %}
{% elif request.user.is_authenticated and request.user.is_board %}
<h3 class="text-center">
  {% if not object.cast_submitted %} First-Round {% endif %}
  Cast List for:
</h3>
<h2 class="text-center">{{ object }}</h2>
<div class="row justify-content-center">
  <div class="col-md-8 text-center">
    {% if object.cast_submitted %}
    <div class="alert alert-info">
      <big>The cast list for this show has been submitted, but not yet
	released.</big>
    </div>
    {% elif object.first_cast_submitted %}
    <div class="alert alert-info">
      <big>First-round casting for this show has been submitted, but not yet
	released.</big>
    </div>
    {% else %}
    <div class="alert alert-warning">
      <big>The cast list has not yet been submitted for this show!</big>
    </div>
    {% endif %}
  </div>
</div>
{% else %}
<div class="row justify-content-center">
  <div class="col-md-8 text-center">
    <div class="alert alert-danger">
      <big>Casting has not yet been released for {{ object }}</big>
    </div>
  </div>
</div>
{% endif %}
{% if object.contact_email %}
<p class="text-center"><big>Please email 
    <a href="mailto:{{ object.contact_email }}" class="font-italic">
      {{ object.contact_email }}</a> with any questions.</big>
</p>
{% endif %}
{% endblock %}
