{% extends "bt/default.html" %}

{% load bootstrap %}

{% block title %}Signing | Common Casting{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <form method="POST" class="col-md-6">
    {% csrf_token %}
    <legend class="text-center">Request a new signing link</legend>
    <p class="form-text">
      Enter your email address to receive a link allowing you to sign for
      your roles online.
    </p>
    {{ form|bootstrap }}
    <button type="submit" class="btn btn-primary btn-block">
      Request Link
    </button>
  </form>
</div>
{% endblock %}
