{% extends "bt/default.html" %}

{% load humanize %}

{% block title %}Signing | Common Casting{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-6 col-md-8 col-sm-10">
    {% if actor %}
    <h4 class="text-center mb-3">Welcome, {{ actor }}
      {% if wrong_user %}
      <span class="text-muted">
	(<a href="{% url 'casting:actor_token_logout' %}">not you?</a>)
      </span>
    {% endif %}
    </h4>
    {% else %}
    <h3 class="text-center">
      <span class="text-danger">Unable to determine your identity:</span>
      please log in again or click the link in your email to log in automatically.
    </h3>
    <div class="mt-4 mb-5">
      <h4 class="text-center">
	If you cannot find the link or it does not work, please
	<a href="{% url 'casting:request_link' %}">request a new signing link</a>.
      </h4>
      <h5 class="text-center">
	If you are still unable to sign, please contact the board immediately.
      </h5>
    </div>
    {% endif %}
  </div>
</div>
{% if object_list and actor %}
<h2 class="text-center">Roles Offered to You</h2>
<div class="row justify-content-center">
  <div class="col-lg-6 col-md-8 col-sm-10">
    <p class="lead text-center">
      Accept or reject the roles you've been cast as below:
    </p>
    <p class="lead text-center only-small">
      <small>
	You may also leave any number of roles without a response and
	return to them later.
	<strong>Note that accepting any role in a show (even an alternate) will
	  automatically reject the rest of the roles in that show!</strong>
      </small>
    </p>
    {% if seconds %}
    <div class="text-center alert alert-warning">
      If you do not sign for a role for which you are first-choice cast by
      {{ seconds.0.second_signing_opens|date:"g:i A" }}
      {{ seconds.0.second_signing_opens|naturalday }}, it will automatically be
      offered to its first alternate.
    </div>
    {% endif %}
    <p class="text-center mb-0">
      <!-- Actor help -->
    </p>
    <form method="POST" action="#">
      {% csrf_token %}
      {% for i in object_list %}
      {% ifchanged i.show %}
      <a name="{{ i.show.pk }}"></a>
      <h4 class="mb-3 mt-5">
	<a href="{% url 'casting:view_cast' i.show.pk %}" target="_popout"
	   data-toggle="tooltip" title="Click to view the entire cast list...">
	  {{ i.show }}
	</a>
      </h4>
      {{ i.show.cast_list_description|linebreaks }}
      {% endifchanged %}
      <div class="form-group row">
	<label class="col-7 push-5 mt-1 text-right">
	  <big>
	    <strong>{{ i.character }}</strong>
	    <span class="text-muted">{{ i.order_title }}</span>
	  </big>
	</label>
	{% if i.signable %}
	{% if i.timed_out %}
	<div class="col-5 pull-7">
	  <div class="form-control-static text-danger">
	    <div class="fa fa-exclamation-triangle pull-left mt-1"> </div>
	    <div class="ml-4">This role was not signed for and
	      has been offered to alternates.</div>
	  </div>
	</div>
	{% else %}
	<select class="form-control custom-select col-5 pull-7"
		name="signing-response-{{ i.pk }}" 
		{% if i.response is not None %}disabled>
	  <option selected>{{ i.get_response_display }}</option>
	  {% else %}>
	  <option value="1">Accept this Role</option>
	  <option value="0">Reject this Role</option>
	  <option selected value="">No Response</option>
	  {% endif %}
	</select>
	{% if i.character.show.tech_req_pool.exists and user.year != i.character.show.exempt_year and i.response != 0 %}
	<label class="col-7 push-5 mt-1 text-right text-secondary">
	  Fulfill the tech req via</label>
	<select class="form-control form-control-sm custom-select
		custom-select-sm col-5 pull-7"
		name="signing-tech-req-{{ i.pk }}" data-toggle="tooltip"
		title="Signing for {{ i.character.show }} requires you to
		fulfill a tech req on one of these shows."
		{% if i.response is not None %}disabled>
	  {% if i.tech_req %}
	  <option selected>{{ i.tech_req }}</option>
	  {% endif %}
	  {% else %}>
	  {% for t in i.character.show.tech_req_pool.all %}
	  {% if t != i.character.show %}
	  <option value="{{ t.pk }}" {% if user in t.tech_actors or user in t.signed_actors or t.show in i.character.show.show or not t.needs_more_tech_reqers %}disabled{% endif %}>
	    {{ t }} {% if not t.needs_more_tech_reqers %}(Full){% endif %}
	    {% if user in t.tech_actors %}(already tech req-ing){% endif %}
	    {% if user in t.signed_actors %}(already performing in){% endif %}
	    {% if t.show in i.character.show.show %}
	    (overlapping residency){% endif %}
	  </option>
	  {% endif %}
	  {% endfor %}
	  {% endif %}
	</select>
	{% endif %}
	{% if i.character.allow_multiple_signatures %}
	<div class="col-6 push-6"></div>
	<p class="text-muted text-right col-6 pull-6">
	  <small>
	    This role can be signed for in addition to other roles in this show.
	  </small>
	</p>
	{% endif %}
	{% endif %}
	{% else %}
	<div class="col-5 pull-7">
	  <div class="form-control-static text-danger">
	    <div class="fa fa-exclamation-triangle pull-left mt-1"> </div>
	    <div class="ml-4">Someone else has accepted this role.</div>
	  </div>
	</div>
	{% endif %}
	{% if i.character.allowed_signers > 1 %}
	<div class="form-text text-muted text-right w-100 mt-0">
	  {{ i.character.allowed_signers|apnumber|capfirst }} actors can
	  accept this role.
	</div>
	{% endif %}
	{% if i.character.cast_description %}
	<div class="form-text text-right w-100 mt-1 small">
	  {{ i.character.cast_description|urlize|linebreaksbr }}
	</div>
	{% endif %}
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-block btn-primary"
	      data-toggle="tooltip"
	      title="Please double-check your responses before submitting, as they cannot be changed later.">
	Submit Responses
      </button>
      <p class="lead text-center mt-3">
	You will receive an email confirming your signatures.
      </p>
    </form>
  </div>
</div>
{% elif unpublished %}
<h2 class="text-center">The signing period has not yet begun!</h2>
<h3 class="text-center">Please come back {{ unpublished.0.signing_opens|naturaltime }}.</h3>
{% elif actor %}
<h2 class="text-center">We could not find any shows you have been cast in.</h2>
{% load config %}
<h4 class="text-center text-muted">
  If this is incorrect, please contact 
  <a href="mailto:{% option 'site_contact_email' %}">
    {% option 'site_contact_name' %}</a> immediately.</h4>
{% endif %}
{% endblock %}
