{% extends "bt/default.html" %}

{% block title %}Login{% endblock %}

{% load bt %}
{% load bootstrap %}

{% block content %}

<div class="row justify-content-center">
  <form method="POST" class="col-md-6">
    <legend class="text-center">
      Login to {% setting "ADMIN_SITE_TITLE" %}</legend>
    {% csrf_token %}
    {{ form|bootstrap }}
    <p class="form-text text-center">
      <a href="{% url 'dramaorg:start_reset' %}">Forgot password?</a>
    </p>
    <button type="submit" class="btn btn-primary btn-block">Login</button>
  </form>
</div>
{% endblock %}
