{% extends "bt/default.html" %}

{% block title %}Change Password{% endblock %}

{% load i18n bt %}
{% load crispy_forms_tags %}

{% block content %}

{% if request.user.is_initialized %}
{% include "dramaorg/user_dropdown.html" %}
{% endif %}

<div class="row justify-content-center">
  <form method="POST" class="col-md-6">
    <legend class="text-center">
      Change Password</legend>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary btn-block">Change</button>
  </form>
</div>
{% endblock %}
