{% extends "bt/default.html" %}

{% block title %}Forgot Password{% endblock %}

{% load bt %}
{% load bootstrap %}

{% block content %}

<div class="row justify-content-center">
  <form method="POST" class="col-md-6">
    <legend class="text-center">
      Forgot Password?</legend>
    {% csrf_token %}
    {{ form|bootstrap }}
    <p class="form-text text-muted">Enter the email associated with your
      account. If it matches our records, a link will be emailed to you
      allowing you to reset your password.</p>
    <button type="submit" class="btn btn-primary btn-block">
      Email Reset Link</button>
  </form>
</div>
{% endblock %}
