{% extends "bt/default.html" %}

{% block title %}Set Password{% endblock %}

{% load i18n bt %}
{% load crispy_forms_tags %}

{% block content %}

{% if form %}
<div class="row justify-content-center">
  <form method="POST" class="col-md-6">
    <legend class="text-center">
      Set Password</legend>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary btn-block">Set and Log in</button>
  </form>
</div>
{% else %}
<div>
  <h3>Invalid sign-in link!</h3>
  <p class="lead">Please go to <a href="{% url 'dramaorg:start_reset' %}">Forgot Password</a> and try again.</p>
</div>
{% endif %}
{% endblock %}
