{% extends "bt/default.html" %}

{% block title %}User Profile{% endblock %}

{% load bt %}
{% load bootstrap %}

{% block content %}

{% if request.user.is_initialized %}
{% include "user_dropdown.html" %}
{% endif %}

<div class="row justify-content-center">
  <form method="POST" class="col-md-6">
    <legend class="text-center">
      User Profile Information</legend>
    {% csrf_token %}
    {{ form|bootstrap }}
    <button type="submit" class="btn btn-primary btn-block">Save</button>
  </form>
</div>
{% endblock %}
