{% extends "casting/base.html" %}

{% load bt %}

{% block extra_scripts %}{% include "casting/wsbridge.html" %}{% endblock %}

{% block title %}{{ object }} | Casting{% endblock %}

{% block content %}
<h2 class="text-center">{{ object }}</h2>
<a href="{% url 'casting:audition_export' object.pk %}" class="text-center">
  <h4 class="mb-0">Download Actor Information Spreadsheet</h4>
</a>
<table class="table table-responsive bt-table-responsive table-striped mt-3">
  <thead>
    <tr>
      <th>Sign-In Time</th>
      <th>Name</th>
      <th class="table-col-xs">PGPs</th>
      <th></th>
      <th class="table-col-sm table-col-desktop">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for audition in object.audition_set.all|order_by:"signed_in" %}
    {% if audition.sign_in_complete %}
    <tr id="audition-{{ audition.pk }}">
      {% include "casting/pieces/audition_row.html" %}
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>

<div class="modal fade" id="fetch-msg-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
	<h5 class="modal-title">Fetch Your Actor</h5>
	<button type="button" class="close" data-dismiss="modal">
	  <span>&times;</span>
	</button>
      </div>
      <div class="modal-body">
	<p class="lead">
	  Please retrieve <span id="fetch-actor-name"></span> from the lobby!
	</p>
      </div>
      <div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>

{% include "casting/chat.html" %}
{% endblock %}
