{% extends "casting/base.html" %}

{% block extra_scripts %}
{% include "casting/wsbridge.html" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>
{% endblock %}

{% load bounddata %}

{% block content %}
<h2 class="text-center mb-3">Callbacks for {{ object }}</h2>
  <div class="row card-deck horizontal-scroll">
    <div class="card">
      <div class="card-header">
	<h4 class="card-title mb-0">Information for All Callbacks</h4>
      </div>
      <div class="card-block">
	{% boundformgroup object "contact_email" %}
	<div class="form-group">
	  {% boundlabel object "callback_description" %}
	  <textarea class="form-control" rows="6"
		    {% boundattrs object "callback_description" %}
		    >{{ object.callback_description }}</textarea>
	  {% helpp object "callback_description" %}
	</div>
      </div>
    </div>
    {% for character in object.character_set.all %}
    {% include "casting/pieces/callback_card.html" %}
    {% endfor %}
    {% include "casting/pieces/callback_card.html" with doblank=True character=character_blank %}
</div>
<p class="lead text-muted text-center mt-3">
  Changes are automatically synced and saved.
</p>
<div class="row justify-content-center">
  <div class="col-md-6">
    <button class="btn btn-danger btn-lg btn-block text-center"
	    data-toggle="tooltip"
	    title="Once finalized, you cannot edit your list any further.">
      Finalize Callback List
    </button>
  </div>
</div>
{% endblock %}
