{% if chat_building %}
<div id="chat-window" class="card">
  <div class="card-header py-2 px-3 pulse-manual-dismiss">
    <strong>{{ chat_building }}</strong>
    <button class="btn btn-sm btn-light float-right fa fa-window-minimize">
    <button class="btn btn-sm btn-light float-right fa fa-window-maximize">
    <button class="btn btn-sm btn-light float-right fa fa-chevron-left">
    <button class="btn btn-sm btn-light float-right fa fa-chevron-right">
  </div>
  <div class="chat-minimizable">
    <div class="card-body py-2 px-2 scroll-on-load">
      <ul id="chat" class="list-unstyled">
	{% for chat in chat_messages %}
	{% include "chat/msg.html" %}
	{% endfor %}
      </ul>
    </div>
    <div class="card-footer p-1">
      <input class="form-control form-control-sm" id="chat-entry"
	     placeholder="Type a chat message...">
    </div>
  </div>
</div>
{% endif %}
