{% extends "venueapp/base.html" %}

{% load bt crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <h3 class="text-center">{{ object }} Budget{{ object.venues.count|pluralize }}</h3>
    {% include "venueapp/pieces/addremove_venues.html" %}
    <p class="mt-3 text-center">
      Please provide a separate budget for each venue you are applying to.
    </p>
  </div>
</div>

<div class="row justify-content-center">
  <form method="POST" class="col">
    {% csrf_token %}
    {{ form.management_form }}
    <ul class="nav nav-tabs" role="tablist">
      {% for form in form %}
      {% ifchanged form.instance.venue %}
      <li class="nav-item">
	<a class="nav-link {% if forloop.first %}active{% endif %}"
	   data-venue="{{ form.instance.venue.id }}"
	   data-toggle="tab" href="#budget-tab-{{ form.instance.venue.id }}">
	  {{ form.instance.venue.venue }}
	</a>
      </li>
      {% endifchanged %}
      {% endfor %}
    </ul>
    <div class="tab-content">
      {% for form in form %}
      {% ifchanged form.instance.venue %}
      {% if forloop.first %}
      <div class="tab-pane show active" role="tabpanel"
	   id="budget-tab-{{ form.instance.venue.id }}">
	{% else %}
      </div>
      <div class="tab-pane" role="tabpanel"
	   id="budget-tab-{{ form.instance.venue.id }}">
	{% endif %}
	{% if form.instance.venue.budget_instr %}
	<p class="alert alert-light">{{ form.instance.venue.budget_instr }}</p>
	{% endif %}
	{% endifchanged %}
	{% ifchanged form.instance.category %}
	<div class="row">
	  <div class="col-md-4 col-sm-4">
	    <h5>{{ form.instance.get_category_display }}</h5>
	  </div>
	  <div class="col-md-2 col-sm-3 dollar-field">Amount</div>
	  <div class="col-md-5 col-sm-3">Note</div>
	</div>
	{% endifchanged %}
	<div class="budget-line">
	  <div class="row">
	    {{ form.id }}
	    <div class="col-md-4 col-sm-4">
	      {{ form.name|as_crispy_field }}
	    </div>
	    <div class="col-md-2 col-sm-3 dollar-field category-{{ form.instance.get_category_display|slugify }}">
	      {{ form.amount|as_crispy_field }}
	    </div>
	    <div class="col-md-5 col-sm-3">
	      {{ form.notes|as_crispy_field }}
	    </div>
	    {% if not form.instance.required %}
	    <div class="col-md-1 col-sm-2">
	      <button type="button"
		      class="btn btn-sm btn-danger remove-line mt-1">
		<i class="fa fa-minus-square"></i>
	      </button>
	    </div>
	    {% endif %}
	  </div>
	  {% if not form.instance.required %}
	  <div class="text-center deletion-message">
	    You must save changes to confirm deletion of this budget line.
	  </div>
	  <div class="d-none">
	    {{ form.DELETE|as_crispy_field }}
	  </div>
	  {% endif %}
	  {% if form.non_field_errors %}
	  <div class="alert alert-danger">{{ form.non_field_errors }}</div>
	  {% endif %}
	</div>
	{% endfor %}
      </div>
    </div>
    <div class="row my-2">
      <div class="col-md-4 col-sm-4">Item</div>
      <div class="col-md-2 col-sm-3">Amount</div>
      <div class="col-md-4 col-sm-2">Category</div>
    </div>
    <div class="row justify-content-center">
      <div class="add-budget-venue d-none">
	{{ add_form.venue|as_crispy_field }}
      </div>
      <div class="col-md-4 col-sm-4">
	{{ add_form.name|as_crispy_field }}
      </div>
      <div class="col-md-2 col-sm-3 dollar-field">
	{{ add_form.amount|as_crispy_field }}
      </div>
      <div class="col-md-4 col-sm-2">
	{{ add_form.category|as_crispy_field }}
      </div>
      <div class="col-md-2 col-sm-3">
	<button type="submit" class="btn btn-secondary btn-block" formnovalidate
		formaction="{% url 'venueapp:add_budget' object.pk %}">
	  Add Item
	</button>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-4 col-sm-4">
	<h5 class="mt-2">Net (Income minus Expenses)</h5>
      </div>
      <div class="col-md-2 col-sm-3 text-right">
	<input class="text-right form-control form-control-plaintext"
	       readonly id="net-total">
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block mt-3" formnovalidate>
      Save Changes
    </button>
  </form>
</div>
{% endblock %}
