{% extends "venueapp/base.html" %}

{% load bt %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <h3 class="text-center">Apply to put on a show!</h3>
    <p>
      <a href="{% url 'venueapp:new' %}">Create a new application</a>
    </p>
  </div>
</div>

{% if roles.exists %}
<h3 class="text-center">Your Application{{ roles.count|pluralize }}</h3>
<table class="table table-responsive bt-table-responsive table-striped">
  <thead>
    <tr>
      <th class="table-col-md">Show</th>
      <th class="table-col-sm table-col-desktop">Season</th>
      <th class="table-col-md">Role</th>
      <th class="text-center">Resume</th>
      <th class="text-center">Supplement</th>
      <th class="text-right">Your Status</th>
      <th class="text-center">Pre App</th>
      <th class="text-center">Full App</th>
    </tr>
  </thead>
  <tbody>
    {% for role in roles %}
    {% with show=role.show.show meta=role.show %}
    <tr>
      <td>{{ show.title }}</td>
      <td>{{ show.seasonstr }}</td>
      <td>{{ role.role }}</td>
      <td class="text-center">
	{% include "venueapp/pieces/checkmark.html" with value=role.person.resume only %}
      </td>
      <td class="text-center">
	  {% include "venueapp/pieces/checkmark.html" with value=role.supplement_status only %}
      </td>
      <td class="text-right">
	{% if role.signed_on %}
	<span class="text-success">&lt;signed on&gt;</span>
	{% else %}
	<a href="{% url 'venueapp:join' meta.pk role.pk %}"
	   class="btn btn-success">Sign On</a>
	{% endif %}
      </td>
      <td class="text-center" title="{{ meta.pre_submitted|default:'' }}">
	{% include "venueapp/pieces/checkmark.html" with value=meta.pre_submitted %}
      </td>
      <td class="text-center" title="{{ meta.full_submitted|default:'' }}">
	{% include "venueapp/pieces/checkmark.html" with value=meta.full_submitted %}
      </td>
    </tr>
    {% endwith %}
    {% endfor %}
</table>
{{ form }}
{% endif %}

{% endblock %}
