{% extends "venueapp/base.html" %}

{% load bt crispy_forms_tags venueapp %}

{% block content %}
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <h3 class="text-center">Complete Application Preview</h3>
    <h2 class="text-center">{{ object }}</h2>
  </div>
</div>

<ul class="nav nav-tabs" role="tablist">
  {% for venue in object.venues.all %}
  <li class="nav-item">
    <a class="nav-link {% if forloop.first %}active{% endif %}"
       data-venue="{{ venue.id }}"
       data-toggle="tab" href="#preview-tab-{{ venue.id }}">
      {{ venue }}
    </a>
  </li>
  {% endfor %}
</ul>
<div class="tab-content">
{% for venue in object.venues.all %}
  {% if forloop.first %}
  <div class="tab-pane pt-3 show active" role="tabpanel"
       id="preview-tab-{{ venue.id }}">
    {% else %}
  </div>
  <div class="tab-pane pt-3" role="tabpanel" id="preview-tab-{{ venue.id }}">
    {% endif %}
    {% include "venueapp/render_app.html" %}
    {% endfor %}
  </div>
</div>

<div class="row justify-content-center mt-5">
  <div class="col-md-10">
    <button type="button" class="btn btn-primary btn-block btn-lg submit-app">
      Submit Application
    </button>
  </div>
</div>
<div class="modal fade" id="submit-confirm-modal" tabindex="-1" role="dialog">
  <form method="POST">
    {% csrf_token %}
    <div class="modal-dialog" role="document">
      <div class="modal-content">
	<div class="modal-header">
          <h5 class="modal-title">Submit Application?</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
	</div>
	<div class="modal-body">
          <p class="lead">
	    Are you sure you want to submit your application for {{ object }}
	    to {{ object.venuesand }}?
	  </p>
	  <p class="text-justify">
	    After submitting, neither your nor any members of your staff will be
	    able to further edit the application, answer questions, or upload
	    statements and attachments. This application will be submitted to
	    all venues simultaneously, so please ensure all relevant parts have
	    been filled out. Also, any staff members who have not signed on to
	    your show will not be listed in the application once you submit.
          </p>
	  <div class="custom-control custom-checkbox">
	    <input type="checkbox" class="custom-control-input"
		   id="reviewed-all" name="reviewed-all">
	    <label class="custom-control-label" for="reviewed-all">
	      I affirm that I have reviewed my entire application as it is
	      displayed on this page{% if object.venues.all.count > 1 %},
	      viewing the separate tabs for {{ object.venuesand }},{% endif %}
	      and everything is complete and looks as expected.
	    </label>
	  </div>
	</div>
	<div class="modal-footer">
          <button type="button" class="btn btn-secondary"
		  data-dismiss="modal">
	    Cancel
	  </button>
          <button type="submit" class="btn btn-primary">Submit</button>
	</div>
      </div>
    </div>
  </form>
</div>

<!--<hr class="mt-5">
<h4 class="text-center"><em>
  Submitting applications is not available at this time. We apologize for any
  inconvenience.
</em></h4>
<hr>-->
{% endblock %}
