{% load venueapp %}
{% include "venueapp/render_preapp.html" %}
    <div class="newpage"></div>
    <!-- Budget -->
    <h3 class="text-center">Budget</h3>
    <div class="row justify-content-center">
      <div class="col-md-10">
	<table class="table">
	  <thead>
	    <tr>
	      <th>Category</th>
	      <th>Item</th>
	      <th>Amount</th>
	      <th>Notes</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for line in object.budgetline_set|forvenue:venue %}
	    <tr>
	      <td>{{ line.get_category_display }}</td>
	      <td>{{ line.name }}</td>
	      <td>${{ line.amount }}</td>
	      <td>{{ line.notes }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>
    </div>
    <div class="newpage"></div>
    <!-- Questions -->
    {% if object.answer_set|forvenue_exists:venue %}
    <h3 class="text-center">Questions</h3>
    <div class="row justify-content-center mb-3">
      <div class="col-md-9">
	{% for ans in object.answer_set|forvenue:venue %}
	{% include "venueapp/pieces/render_answer.html" with answer=ans only %}
	{% endfor %}
      </div>
    </div>
    {% else %}
    <h4 class="text-center mb-3">No questions for this venue.</h4>
    {% endif %}
    <div class="newpage"></div>
    <!-- Supplements -->
    {% if not pdf %}<h3 class="text-center">Supplements</h3>{% endif %}
    {% for staff in object.staffmember_set.signed_on %}
    {% if pdf %}
    <a name="supplement-{{ staff.id }}"></a>
    <h3 class="text-center" style="bookmark-label: &quot;{{ staff.role_name|escapejs }} {{ staff.person|escapejs }}'s Supplement&quot;">{{ staff.role_name }} Supplement</h3>
    <h4 class="text-center">{{ staff.person }}</h4>
    {% else %}
    <h4 class="mx-5">
      <a name="supplement-{{ staff.id }}">{{ staff }}</a>
    </h4>
    {% endif %}
    <div class="row justify-content-center">
      <div class="col-md-9">
	<h5>Resume:
	{% if staff.person.resume %}
	  <a href="{{ staff.person.resume.url }}" target="_blank">
	    {{ staff.person.resume_filename }}
	  </a>
	  {% else %}
	  <em>None supplied.</em>
	  {% endif %}
	</h5>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-9">
	<h5>Conflicts:
	  <small>
	    {{ staff.person.conflicts|linebreaksbr|default:"<em>None supplied.</em>" }}
	  </small>
	</h5>
      </div>
    </div>
    {% if staff.role.statement_length %}
    <div class="row justify-content-center">
      <div class="col-md-9">
	<h5>Statement</h5>
	<p class="mx-4">
	  {{ staff.statement|linebreaksbr|default:"<em>None supplied.</em>" }}
	</p>
      </div>
    </div>
    {% endif %}
    {% if staff.role.accepts_attachment %}
    <div class="row justify-content-center">
      <div class="col-md-9">
	<h5>Design Plan or Attachment:
	  {% if staff.attachment %}
	  <a href="{{ staff.attachment.url }}" target="_blank">
	    {{ staff.attachment_filename }}
	  </a>
	  {% if pdf and staff.attachment.size < max_attachment_size %}
	  <small class="text-muted">
	    (also included below)
	  </small>
	  {% endif %}
	  {% else %}
	  <em>None supplied.</em>
	  {% endif %}
	</h5>
      </div>
    </div>
    {% endif %}
    {% if staff.roleanswer_set.all.exists %}
    <div class="row justify-content-center">
      <h5 class="col-md-9">Questions</h5>
      <div class="col-md-8">
	{% for ans in staff.roleanswer_set.all %}
	{% include "venueapp/pieces/render_answer.html" with answer=ans only %}
	{% endfor %}
      </div>
    </div>
    {% endif %}
    <div class="mb-2"></div><!-- Spacer -->
    {% if not forloop.last %}
    <div class="newpage"></div>
    {% endif %}
    {% endfor %}
