{% load venueapp %}
    <!-- Application Cover Page -->
    <h3 class="text-center">Cover Page</h3>
    <div class="row justify-content-center">
      <div class="col-md-9">
	<table class="table">
	  <tbody>
	    {% for attr, val in cover.items %}
	    <tr>
	      <td class="text-right"><em>{{ attr }}</em></td>
	      {% if val.url %}
	      <td><a href="{{ val.url }}" target="_blank">{{ val.fn }}</a></td>
	      {% else %}
	      <td>{{ val|default:"<em>N/A</em>" }}</td>
	      {% endif %}
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>
    </div>
    <div class="newpage"></div>
    <!-- Staff List -->
    <h3 class="text-center">Staff List</h3>
    <div class="row justify-content-center">
      <div class="col-md-10">
	<table class="table">
	  <thead>
	    <tr>
	      <th>Position</th>
	      <th>Name</th>
	      <th>Email</th>
	      <th>Phone</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for staff in object.staffmember_set.signed_on %}
	    <tr>
	      <td><a href="#supplement-{{ staff.id }}">{{ staff.role_name }}
	      </a></td>
	      <td>{{ staff.person }}</td>
	      <td><a href="mailto:{{ staff.person.user.email }}">
		{{ staff.person.user.email }}</a></td>
	      <td><a href="tel:{{ staff.person.user.phone }}">
		{{ staff.person.user.phone }}</a></td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>
    </div>
    <div class="newpage"></div>
    <!-- Residency Preferences -->
    <h3 class="text-center">Residency Preferences</h3>
    <div class="row justify-content-center">
      <div class="col-md-8">
	<table class="table">
	  <thead>
	    <tr>
	      <th class="text-right"></th>
	      <th>Venue</th>
	      <th>Dates</th>
	      <th>Length</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for pref in object.slotpreference_set.all %}
	    <tr>
	      <td class="text-right">{{ pref.ordering }}</td>
	      <td>{{ pref.venue.venue }}</td>
	      <td>{{ pref.start_date|date:"M j" }} -
		{{ pref.end_date|date:"M j" }}</td>
	      <td>{{ pref.weeks }} week{{ pref.weeks|pluralize }}</td>
	    </tr>
	    {% empty %}
	    <tr>
	      <td colspan="3">
		<em class="text-muted">None supplied!</em>
	      </td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>
      {% if object.length_description %}
      <div class="col-md-8">
	<h4 class="text-center">Residency Preference Clarifications</h4>
	<p>
	  {{ object.length_description|linebreaks }}
	</p>
      </div>
      {% endif %}
    </div>
