{% extends "bt/default.html" %}

{% load crispy_forms_tags %}
{% load drama %}
{% load config bt %}

{% block title %}Your Shows{% endblock %}

{% block content %}
{% include "dramaorg/user_dropdown.html" %}

{% if request.user.show_set.occurring.exists %}
<h3 class="text-center">Your Shows</h3>
<table class="table table-responsive bt-table-responsive table-striped">
  <thead>
    <tr>
      <th class="table-col-md">Show</th>
      <th class="table-col-sm table-col-desktop">Season</th>
      <th class="table-col-md">Residency &amp; Liaison(s)</th>
      <th class="table-col-lg">Administrative Staff</th>
      <th class="table-col-xs">Enabled Apps</th>
    </tr>
  </thead>
  <tbody>
  {% for show in request.user.show_set.occurring %}
  <tr>
    <td>
      {{ show.title }}
      <a class="badge badge-secondary"
	 href="{% url 'dramaorg:update' show.pk %}"
	 data-toggle="modal" title="{{ show.title }}"
	 data-target="#edit-show-modal">edit</a>
    </td>
    <td>{{ show.seasonstr }}</td>
    <td>
      {{ show.space }}
      ({{ show.residency_starts|date:"M j" }}
      {% if show.residency_starts != show.residency_ends %}-
      {{ show.residency_ends|date:"M j" }}{% endif %})
      {% if show.liaisons.exists %} -
      {% for liaison in show.liaisons.all %}
      <a href="mailto:{{ liaison.email }}" title="{{ liaison.phone }}">
	{{ liaison.get_full_name }}</a>{% if not forloop.last %}, {% endif %}
      {% endfor %}
      {% endif %}
    </td>
    <td>
      {{ show.people }}
      <a class="badge badge-secondary"
	 href="{% url 'dramaorg:update_staff' show.pk %}"
	 data-toggle="modal" title="{{ show.title }}"
	 data-target="#edit-show-modal">edit</a>
    </td>
    <td>
      {% for i in show.enabled_apps %}
      <a href="{% url i|add:':index' %}">
	{{ i|capfirst }}</a>{% if not forloop.last %},{% endif %}
      {% empty %}-
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>

<div class="modal fade edit-show-modal"
     id="edit-show-modal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
	<h5 class="modal-title">
	  Edit <span id="edit-show-modal-title"></span>
	</h5>
	<button type="button" class="close" data-dismiss="modal"
		aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
	<button type="button" class="btn btn-secondary"
		data-dismiss="modal">Close</button>
	<button type="button" class="btn btn-primary body-submit">
	  Update</button>
      </div>
    </div>
  </div>
</div>

{% if not perms.dramaorg.change_show %}
<p class="text-muted text-center">If any of this information is incorrect or
  shows are missing from your dashboard, please contact
  <a href="mailto:{% option 'site_contact_email' %}">
    {% option 'site_contact_name' %}</a>.</p>
{% endif %}
{% else %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="jumbotron text-center pt-4 pb-3">
      <h3>Welcome to {% setting "BT_SITE_TITLE" %}</h3>
      <p class="lead">
	We couldn't find any shows that you are an executive staff member of.
      </p>
      {% if not not perms.dramaorg.add_show %}
      <p>
	If this is incorrect, please contact
	<a href="mailto:{% option 'site_contact_email' %}">
	  {% option 'site_contact_name' %}</a>.
      </p>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{% if request.user.is_pdsm %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <p class="lead text-center mt-3">
      <strong>
	To perform administrative tasks and manage aspects of your shows, use
	the links under "Enabled Apps" above.
      </strong>
    </p>
  </div>
</div>
{% endif %}

<div class="row justify-content-center mt-5">
{% if perms.dramaorg.change_current_season %}
  <a name="update-season"></a>
  <form method="POST" class="col-md-6 hide-labels">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary btn-block">
      Set Current Season
    </button>
  </form>
{% else %}
  <div class="text-muted">current season:</div>
</div>
<div class="row justify-content-center">
  <h4 class="display-4 text-muted">{% current_season %}</h4>
{% endif %}
</div>
{% endblock %}
