{% extends "bt/default.html" %}

{% load bootstrap %}
{% load drama %}
{% load config %}

{% block title %}Your Shows{% endblock %}

{% block content %}
{% include "dramaorg/user_dropdown.html" %}

{% if request.user.show_set.exists %}
<h3 class="text-center">Your Shows</h3>
<table class="table table-responsive bt-table-responsive table-striped">
  <thead>
    <tr>
      <th class="table-col-md">Show</th>
      <th class="table-col-sm table-col-desktop">Season</th>
      <th class="table-col-xs">Residency</th>
      <th class="table-col-sm">Venue</th>
      <th class="table-col-lg">Administrative Staff</th>
    </tr>
  </thead>
  <tbody>
  {% for show in request.user.show_set.all %}
  <tr>
    <td>{{ show.title }}</td>
    <td>{{ show.seasonstr }}</td>
    <td>{{ show.residency_starts|date:"M j" }}
      {% if show.residency_starts != show.residency_ends %}-
      {{ show.residency_ends|date:"M j" }}{% endif %}</td>
    <td>{{ show.space }}</td>
    <td>{{ show.people }}</td>
  </tr>
  {% endfor %}
</table>
{% if not user.is_board %}
<p class="text-muted text-center">If any of this information is incorrect or
  shows are missing from your dashboard, please contact
  <a href="mailto:{% option 'site_contact_email' %}">
    {% option 'site_contact_name' %}</a>.</p>
{% endif %}
{% else %}
<div class="text-center">
  <p class="lead">
    You are not a member of the executive staff of any shows in this system.
    {% if not user.is_board %}
    If this is incorrect, please contact
    <a href="mailto:{% option 'site_contact_email' %}">
      {% option 'site_contact_name' %}</a>.
    {% endif %}
  </p>
  <h3 class="justify-content-center">You may 
    <a class="" href="{% url 'dramaorg:profile' %}">edit your profile</a> or
    <a class="" href="{% url 'dramaorg:password_change' %}">
      change your password</a>.
  </h3>
</div>
{% endif %}

<div class="text-center mt-4">
  <a class="btn btn-info btn-lg" href="{% url 'casting:public_index' %}">For Actors - Public Portal</a>
</div>

{% if request.user.is_pdsm or request.user.is_board %}
{% if all_indexes %}
<h3 class="text-center mt-5">
  HRDC Apps
  <br><small class="text-muted">administrative tasks for your shows</small>
</h3>
<div class="row justify-content-center">
  <div class="col-md-6">
    {% for index in all_indexes %}
    <a href="{{ index.0 }}" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
	<h5 class="mb-0">{{ index.1 }}</h5>
	{% if index.2 %}
	<small class="text-muted">{{ index.2 }}</small>
	{% endif %}
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endif %}

{% if user.is_board %}
<h3 class="text-center mt-5">
  HRDC Apps Administration
  <br><small class="text-muted">controls for board members</small>
</h3>
<div class="row justify-content-center">
  <div class="col-md-6">
    {% for index in admin_indexes %}
    <a href="{{ index.0 }}" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
	<h5 class="mb-0">{{ index.1 }}</h5>
	{% if index.2 %}
	<small class="text-muted">{{ index.2 }}</small>
	{% endif %}
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endif %}

<div class="row justify-content-center mt-5">
{% if user.is_superuser %}
  <form method="POST" class="col-md-6">
    {% csrf_token %}
    {{ form|bootstrap_inline }}
    <button type="submit" class="btn btn-primary btn-block">
      Set Current Season
    </button>
  </form>
{% else %}
  <div class="text-muted">current season:</div>
</div>
<div class="row justify-content-center">
  <h4 class="display-4 text-muted">{% current_season %}</h4>
{% endif %}
</div>
{% endblock %}
