{% extends "bt/sidebar.html" %}

{% load bootstrap crispy_forms_tags %}
{% load drama %}
{% load config bt %}

{% block title %}{{ title }} | Season Management{% endblock %}

{% block extra_header %}
{% include "dramaorg/user_dropdown.html" %}
{% endblock %}

{% block content %}
<h2 class="text-center">{{ title }}</h2>

<p class="lead mt-2 mb-4 text-center">
  Select a show to modify its residency.
</p>

<form method="POST" class="d-none" id="edit-form">
{% csrf_token %}
{{ form.management_form }}
{% for form in form %}
<div id="show-form-{{ form.instance.id }}">
{{ form }}
</div>
{% endfor %}
</form>

{% if form.errors %}
<div class="alert alert-danger">
  One or more errors occurred and your changes were not saved:
</div>
{% for d in form.errors %}
{% if d %}
<div class="alert alert-danger">
  {% for e in d.values %}
  <div>{{ e }}</div>
  {% endfor %}
</div>
{% endif %}
{% endfor %}
{% endif %}

{% verbatim %}
<div id="season-vue">
<button type="submit" form="edit-form" v-if="dirty"
	class="btn btn-block btn-lg btn-primary my-3">
  Save All Changes
</button>
  <div class="card-group season-block">
    <div class="card">
      <div class="card-body">
	<h5 class="card-title"><i>Calendar</i></h5>
	<div class="season-venue-block">
	</div>
      </div>
    </div>
	  <div v-for="(week, index) in calendar" :key="index"
	       class="season-calendar-week"
	       :style="{ top: index * 49 + 'px' }">
	    {{ week }}
	  </div>
    <div v-for="(venue, name) in venues" class="card">
      <div class="card-body">
	<h5 class="card-title">{{ name == "undefined" ? "-" : name }}</h5>
	<div class="season-venue-block" :style="{ height: height + 'px' }">
	  <show v-for="(show, index) in venue" :show="show" :key="show.id"
		:index="index" :first="first" @select="edit"></show>
	</div>
      </div>
    </div>
  </div>
  <div class="season-editor modal fade"
       :class="{ show: editing, 'd-block': editing }"
       @click.self="close">
    <div class="modal-dialog modal-dialog-centered" role="document"
	 v-if="editing">
      <div class="modal-content">
	<div class="modal-header">
          <h5 class="modal-title">{{ editing.title }}</h5>
          <button type="button" class="close" @click="close">
            <span>&times;</span>
          </button>
	</div>
	<div class="modal-body">
	  <div class="form-group row">
	    <label for="r-starts" class="col-sm-5 col-form-label">
	      Residency Starts</label>
	    <div class="col-sm-7">
	      <input type="date" class="form-control" id="r-starts"
		     @input="dirty = true"
		     v-model="editing.residency_starts" required>
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="r-ends" class="col-sm-5 col-form-label">
	      Residency Ends</label>
	    <div class="col-sm-7">
	      <input type="date" class="form-control" id="r-ends"
		     @input="dirty = true"
		     v-model="editing.residency_ends" required>
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="r-venue" class="col-sm-5 col-form-label">
	      Venue</label>
	    <div class="col-sm-7">
	      <select class="custom-select" id="r-venue"
		      @input="dirty = true"
		      v-model="editing.space">
		<option value="undefined">-</option>
		<option v-for="venue in spaces" :value="venue">
		  {{ venue }}</option>
	      </select>
	    </div>
	  </div>
	</div>
	<div class="modal-footer">
          <button type="button" class="btn btn-primary"
		  @click="close">Done</button>
	</div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show" v-if="editing"></div>
</div>
{% endverbatim %}

<div class="row justify-content-center mt-5">
  <div class="text-muted">current season:</div>
</div>
<div class="row justify-content-center">
  <h4 class="display-4 text-muted">{% current_season %}</h4>
</div>
{% if perms.dramaorg.change_current_season %}
<div class="row justify-content-center">
  <p class="lead text-muted">
    To update the current season, use the form on
    <a href="{% url 'dramaorg:index'%}#update-season">this page</a>.
  </p>
</div>
{% endif %}
{% endblock %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.{% if not SETTINGS.DEBUG %}min.{% endif %}js"></script>
{{ shows|json_script:"show-data" }}
{{ spaces|json_script:"space-data" }}
{% endblock %}
