.income-form .errorlist {
    margin-bottom: 0;
    list-style: square;
}

.budget-expense-row input[type=text] {
    min-width: 150px;
}

.dollar-field .input-group {
    min-width: 124px;
}

.dollar-field .input-group input[type=number], .total-field {
    text-align: right;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.budget-expense-row.blank-item {
    display: none;
}

.category-header>td, .subtotals-category>td {
    padding: 0.3em 0.75em 0.4em;
}

.budget-expense-row>td:not(:last-of-type) {
    padding: 0.3em 0.1em 0.4em;
}

.category-header>td[colspan] {
    padding-top: 0.5em;
}

.subtotals-category>td {
    padding-bottom: 0.75em;
}

.budget-worksheet td.dollar-field {
    width: 128px;
}

.budget-worksheet td.text-field {
    min-width: 240px;
}

.budget-worksheet td:last-of-type {
    width: 40px;
    padding: 0.46em 0.25em;
}

.category-header>td:last-of-type {
    padding-right: 0.5em;
}

/* Expenses View */
.date-purchased select.form-control {
    display: inline;
    width: 30%;
    margin-right: 3%;
}

.date-purchased select:nth-child(1).form-control {
    width: 40%;
}

.date-purchased select:nth-child(2).form-control {
    width: 20%;
}

.expenseform {
    position: relative;
    padding-bottom: 3rem;
}

.primary-submit {
    position: absolute;
    bottom: 0;
}

.view-expenses .form-group {
    margin-bottom: 0.25em;
}

div.row.reimbursement-options:last-of-type {
    margin-top: 0.75em;
}

.alert-danger ul.errorlist.nonfield {
    margin-bottom: 0;
}

td.wrappable-min-width {
    min-width: 240px;
}

/* Budget Spreadsheet Print Styles */
@media print {
    .budget-worksheet>thead>tr>th:nth-child(5),
    .budget-worksheet>tbody>tr>td:nth-child(5),
    .budget-worksheet>tbody>tr.category-header>td:nth-child(2) {
	display: none;
    }

    .budget-worksheet>tbody>tr>td input {
	border: none;
	padding: 0;
    }

    .print-text-right {
	text-align: right;
    }

    .budget-worksheet>tbody>tr>td input[readonly] {
	background: none;
    }

    .budget-worksheet>tbody>tr>td .input-group-text {
	background: none;
	border: none;
    }

    .budget-worksheet>tbody>tr.budget-expense-row>td {
	padding: 0rem .75rem;
    }

    .budget-worksheet>tbody>tr.subtotals-all>td,
    .budget-worksheet>tbody>tr.subtotals-net>td {
	padding: 0.25rem .75rem;
    }
}

.incomeform .income-form:not(:last-of-type) .form-group {
    margin-bottom: 0.25em;
}
