{% extends "publicity/base.html" %}

{% block title %}{{ object }} | Show Information{% endblock %}

{% load bt config %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <h3 class="text-center">Show Information Browser</h3>
    <h2 class="text-center">{{ object }}</h2>
  </div>
</div>

<h3 class="text-center mt-4 mb-2">Show Metadata</h3>
<div class="form-row justify-content-center">
  <div class="col-6 text-right"><b>Author/Creator:</b></div>
  <div class="col-6">
    {{ object.show.creator_credit|default:"<em>N/A</em>" }}
  </div>
  <div class="col-6 text-right"><b>Affiliation:</b></div>
  <div class="col-6">
    {{ object.show.affiliation|default:"<em>N/A</em>" }}
  </div>
  <div class="col-6 text-right"><b>Production Type:</b></div>
  <div class="col-6">
    {{ object.show.get_prod_type_display }}
  </div>
  <div class="col-6 text-right"><b>Venue:</b></div>
  <div class="col-6">
    {{ object.show.space|default:"(none)" }}
  </div>
  <div class="col-6 text-right"><b>Residency:</b></div>
  <div class="col-6">
    {% if object.show.residency_starts %}
    {{ object.show.residency_starts|date:"M j" }} -
    {{ object.show.residency_ends|date:"M j, Y" }}
    {% else %}(none)
    {% endif %}
  </div>
  <div class="col-6 text-right"><b>Liaison(s):</b></div>
  <div class="col-6">
    {{ object.show.liaison_str|default:"(none)" }}
  </div>
</div>

<h3 class="text-center mt-4 mb-2">Performances</h3>
<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6">
    <ol class="list-group">
      {% for date in object.performancedate_set.all %}
      <li class="list-group-item">
	{{ date.performance|date:"M j @ g:i A" }}
	{% if date.note %}
	({{ date.note }})
	{% endif %}
      </li>
      {% empty %}
      <li class="list-group-item text-center text-muted">
	(No performance dates have been listed yet.)
      </li>
      {% endfor %}
    </ol>
  </div>
</div>

<h3 class="text-center mt-4 mb-2">Publicity Information</h3>
<div class="form-row justify-content-center publicity-info">
  <div class="col-sm-3"><b>Billing:</b></div>
  <div class="col-sm-9">
    {{ object.credits|default:"(not supplied)"|linebreaksbr }}
  </div>
  <div class="col-sm-3"><b>Show Email:</b></div>
  <div class="col-sm-9">
    <a {% if object.contact_email %}href="mailto:{{ object.contact_email }}"{% endif %}>
      {{ object.contact_email|default:"(not supplied)" }}
    </a>
  </div>
  <div class="col-sm-3"><b>Runtime:</b></div>
  <div class="col-sm-9">
    {{ object.runtime|default:"(not supplied)" }}
  </div>
  <div class="col-sm-3"><b>Blurb:</b></div>
  <div class="col-sm-9">
    {{ object.blurb|default:"(not supplied)"|urlize|linebreaksbr }}
  </div>
  <div class="col-sm-3"><b>Ticket Link:</b></div>
  <div class="col-sm-9">
    <a {% if object.ticket_link %}href="{{ object.ticket_link }}"{% endif %}>
      {{ object.ticket_link|default:"(not supplied)" }}
    </a>
  </div>
  <div class="col-sm-3"><b>Webpage:</b></div>
  <div class="col-sm-9">
    <a {% if object.website_page %}href="{{ object.website_page }}"{% endif %}>
      {{ object.website_page|default:"(not set)" }}
    </a>
  </div>
</div>

{% include "publicity/admin_contact_sheet.html" with list=object.staff type="Staff" %}

{% include "publicity/admin_contact_sheet.html" with list=object.cast type="Cast" %}

{% if object.band_term %}
{% include "publicity/admin_contact_sheet.html" with list=object.band type=object.get_band_term_display %}
{% endif %}

{% endblock %}
