{% extends "bt/default.html" %}

{% block title %}{{ month_name }} {{ year }} Events{% endblock %}

{% block extra_header %}
{% include "dramaorg/user_dropdown.html" %}
{% endblock %}

{% load bt config %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <h2 class="text-center">Calendar of Events</h2>
  </div>
</div>
{% if upcoming %}
<h3 class="text-center mt-3">Upcoming Events</h3>
<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6">
    <ul class="list-group">
      {% for i in upcoming %}
      <li class="list-group-item">
	<a {% if i.webpage %}href="{{ i.webpage }}"{% endif %}
	   target="_blank">{{ i.name }}</a>
	{% if i.note %}
	<i class="fa fa-info-circle text-dark"
	   title="{{ i.note }}" data-toggle="tooltip"></i>
	{% endif %}
	{% if i.venue %}
	<span class="badge badge-secondary">
	  {{ i.venue }}
	</span>
	{% endif %}
	<span class="pull-right">
	  {{ i.performance|date:"M j @ f A" }}
	</span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<h3 class="text-center mt-4">Calendar</h3>
{% endif %}
{% include "publicity/render_calendar.html" %}

{% if request.user.is_board %}
<h3 class="text-center mt-5 mb-3">Embedding Instructions</h3>
<div class="alert alert-secondary">
  <p>To embed the calendar in another webpage, insert the following code:</p>
  <p>
    <code>&lt;iframe src="{{ SETTINGS.SITE_URL }}{% url 'publicity:public_index' %}?embed=1" style="width:100%;min-height:800px;border:0;"&gt;&lt;/iframe&gt;</code>
  </p>
  <p>To embed the list of upcoming performances in another webpage,
    insert the following code:</p>
  <p>
  <code>&lt;iframe src="{{ SETTINGS.SITE_URL }}{% url 'publicity:public_index' %}?upcoming=1" style="width:100%;min-height:320px;border:0;"&gt;&lt;/iframe&gt;</code>
  </p>
</div>
{% endif %}
{% endblock %}
