{% load static %}
{% for i in upcoming %}
{% ifchanged i.performance_date %}
<div style="margin-bottom: -0.75em; margin-top: 0.75em; margin-left: 2em; text-decoration: underline;"><b>{{ i.performance_date|date:"M j"|upper }}</b></div>
{% endifchanged %}
<div style="margin-bottom: -0.75em;">
  <b style="white-space: nowrap; width: 72px; display: inline-block; text-align: right; margin-right: 2px;">
    {{ i.performance|date:"f A" }}
  </b>
  <a {% if i.webpage %}href="{{ i.webpage }}"{% endif %}
     target="_blank">{{ i.name }}</a>
  {% if i.note %}
  <img src="{{ site_url }}{% static 'publicity/icons/exclamation.svg' %}" title="{{ i.note }}" style="height: 1em; vertical-align: middle; opacity: 0.75;">
  {% endif %}
  {% if i.venue %}
  <a {% if i.venue.building.maps_link %}href="{{ i.venue.building.maps_link }}"{% endif %} target="_blank"><img src="{{ site_url }}{% static 'publicity/icons/map-marker.svg' %}" title="{{ i.venue }}" style="height: 1em; vertical-align: middle; opacity: 0.5;"></a>
  {% endif %}
</div>
{% empty %}
<div style="text-align: center"><b><i>No upcoming events!</i></b></div>
{% endfor %}
