{% extends "bt/base.html" %}

{% block body %}
<ul class="list-group">
  {% for i in upcoming %}
  <li class="list-group-item">
    <a {% if i.show.link %}href="{{ i.show.link }}"{% endif %}
       target="_blank">{{ i.show }}</a>
    {% if i.note %}
    <i class="fa fa-info-circle text-dark"
       title="{{ i.note }}" data-toggle="tooltip"></i>
    {% endif %}
    <i class="fa fa-map-marker text-secondary"
       title="{{ i.show.show.space }}" data-toggle="tooltip"></i>
    <span class="pull-right">
      {{ i.performance|date:"M j @ f A" }}
    </span>
  </li>
  {% empty %}
  <li class="list-group-item">No upcoming performances!</li>
  {% endfor %}
</ul>
{% endblock %}
