{% extends "bt/base.html" %}

{% block body %}
<ul class="list-group">
  {% for i in upcoming %}
  <li>
    <a {% if i.webpage %}href="{{ i.webpage }}"{% endif %}
       target="_blank">{{ i.name }}</a>
    {% if i.note %}
    <i class="fa fa-info-circle text-dark"
       title="{{ i.note }}" data-toggle="tooltip"></i>
    {% endif %}
    {% if i.venue %}
    <a {% if i.venue.building.maps_link %}href="{{ i.venue.building.maps_link }}"{% endif %} target="_blank">
      <i class="fa fa-map-marker text-secondary"
	 title="{{ i.venue }}" data-toggle="tooltip"></i>
    </a>
    {% endif %}
    <span style="white-space: nowrap">
      {{ i.performance|date:"M j" }}
    </span>
    <span style="white-space: nowrap">
      {{ i.performance|date:"@ f A" }}
    </span>
  </li>
  {% empty %}
  <li class="list-group-item">No upcoming events!</li>
  {% endfor %}
</ul>
{% endblock %}
