{% extends "publicity/base.html" %}

{% load bt crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <h3 class="text-center">{{ object }}</h3>
    <p class="text-muted text-center">
      To edit your show's name, use the editor
      <a href="{% url 'dramaorg:index' %}">here</a>.
    </p>
  </div>
</div>
<div class="row justify-content-center">
  <form method="POST" class="col-md-8" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <legend>
      Performance Dates
      <button type="button" class="btn btn-success btn-sm add-performance">
	<i class="fa fa-plus"></i>
      </button>
    </legend>
    <div class="performancedate_formset">
      {{ date_formset.management_form }}
      {% for date in date_formset %}
      <div class="form-row date-fieldset">
	{{ date.id }}
	<div class="d-none">{{ date.DELETE }}</div>
	{% if date.non_field_errors %}
	<div class="alert alert-danger">
	  {% for error in date.non_field_errors %}
	  {{ error }}{% if not forloop.last %}, {% endif %}
	  {% endfor %}
	</div>
	{% endif %}
	<div class="col-md-7">
	  {{ date.performance|as_crispy_field }}
	</div>
	<div class="col-md-5">
	  {{ date.note|as_crispy_field }}
	</div>
	{% if not date.errors %}
	<button type="button" class="btn btn-danger btn-sm delete-performance">
	  <i class="fa fa-minus-square"></i>
	</button>
	{% endif %}
      </div>
      {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary btn-block btn-lg">
      Save Changes
    </button>
  </form>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
{% endblock %}
