{% extends "publicity/base.html" %}

{% load bt crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <h3 class="text-center">Directory: {{ object }}</h3>
  </div>
</div>
<div class="row justify-content-end mt-2 mb-4">
  <div class="col">
    {% if object.show.casting_meta %}
    <a href="{% url 'publicity:import_cast' object.id %}"
       class="btn btn-primary">
      Import Cast from Common Casting
    </a>
    {% endif %}
    {% if object.show.application %}
    <a href="{% url 'publicity:import_staff' object.id %}"
       class="btn btn-primary float-right">
      Import Staff from Venue Application
    </a>
    {% endif %}
  </div>
</div>
<div class="row justify-content-center">
  <form method="POST" class="col peopleform">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
    <div class="person-form">
      {% if form.non_field_errors %}
      <div class="alert alert-danger">{{ form.non_field_errors }}</div>
      {% endif %}
      <div class="form-row">
	{{ form.id }}
	<div class="col-md-4 col-sm-6">
	  {{ form.position|as_crispy_field }}
	</div>
	<div class="col-md-4 col-sm-6">
	  <div class="form-group">
            <label for="showperson_set-{{ forloop.counter0 }}-person-input"
		   class="col-form-label">
              Person
            </label>
            <select class="form-control person-field"
		    name="showperson_set-{{ forloop.counter0 }}-person"
		    id="showperson_set-{{ forloop.counter0 }}-person-input">
	      <option selected value="{{ form.instance.person_id|default:'' }}">
		{{ form.instance.person }}
	      </option>
	    </select>
	    <div class="text-danger">{{ form.person.errors }}</div>
	  </div>
	</div>
	<div class="col-md-2 col-sm-4">
	  {{ form.type|as_crispy_field }}
	</div>
	<div class="col-md-1 col-sm-4">
	  {{ form.order|as_crispy_field }}
	</div>
	<div class="col-md-1 col-sm-2">
	  <button type="button" class="btn btn-danger remove-person">
	    <i class="fa fa-minus-square"></i>
	  </button>
	</div>
      </div>
      <div class="d-none">
	{{ form.DELETE|as_crispy_field }}
      </div>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary btn-block">
      Save Changes / Add Another
    </button>
  </form>
</div>

<div class="modal fade" id="add-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Person</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	{% csrf_token %}
	<div class="form-row">
          <div class="form-group col">
	    <label for="first_name" class="col-form-label">
	      First Name</label>
	    <div class="">
	      <input type="text" class="form-control" id="first_name"
		     name="first_name" required>
	    </div>
	  </div>
          <div class="form-group col">
	    <label for="last_name" class="col-form-label">
	      Last Name</label>
	    <div class="">
	      <input type="text" class="form-control" id="last_name"
		     name="last_name" required>
	    </div>
	  </div>
	</div>
	<div class="form-row">
	  <div class="col col-sm-8">
	    <div class="form-group">
	      <label for="affiliation" class="col-form-label">
                School or Affiliation</label>
              <div class="">
                <input type="text" name="affiliation" maxlength="160"
		       class="form-control" id="affiliation" required
		       placeholder="{{ SETTINGS.DEFAULT_AFFILIATION }}">
              </div>
	    </div>
	  </div>
	  <div class="col col-sm-4">
	    <div class="form-group">
              <label for="year" class="col-form-label">Year</label>
              <div class="">
                <input type="number" name="year" min="0"
		       class="form-control" id="year">
              </div>
	    </div>
	  </div>
	</div>
	<div class="form-group">
	  <div class="form-check">
            <label for="display_affiliation" class="form-check-label">
              <input type="checkbox" name="display_affiliation"
		     class="form-check-input" id="display_affiliation">
              Display Affiliation
            </label>
	    <small class="form-text text-muted">
	      Include the affiliation in the display name?</small>
	  </div>
        </div>
	<div class="form-group">
	  <label for="display_name_field">Display Name</label>
	  <input type="text" class="form-control" id="display_name_field"
		 readonly>
	  <small class="form-text text-muted">
	  </small>
	</div>
        <div class="form-group">
	  <label for="email" class="col-form-label">Email</label>
	  <div class="">
	    <input type="email" class="form-control" id="email" name="email"
		   required>
	    <div class="invalid-feedback">
	      Please provide a valid email address.
	    </div>
	  </div>
	</div>
	<p class="text-muted text-center">
	  <small>
	    Adding this person will invite them to create an account and
	    update their profile. Once you add this person, they will have to
	    log in themselves to make any further updates to this information.
	  </small>
	</p>
	<ul id="add-errors" class="text-danger"></ul>
      </div>
      <div class="modal-footer">
	<div class="text-danger ml-3" id="add-error"></div>
        <button type="button" class="btn btn-primary" id="add-button">
	  Add</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
