{% extends "casting/email/base.html" %}
{% load email %}
{% load bt %}

{% block body %}
<table cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td align="center">
      {% if IS_HTML %}
      <h1 style="margin-bottom: 4px; margin-top: 18px;">Callbacks have been released for {{ crm }}!</h1>
      {% endif %}
    </td>
  </tr>
  {% if callbacks %}
  <tr>
    <td align="center">
      You have been called back for the following shows:
    </td>
  </tr>
  {% for cb in callbacks %}
  {% ifchanged cb.show %}
  {% if not forloop.first %}
      </table>
    </td>
  <tr>
  {% endif %}
  <tr>
    <td>
      <table cellspacing="0" cellpadding="0" width="100%" style="max-width: 400px" align="center">
	<tr>
	  <td align="center">
	    <h2 style="margin-bottom: 4px;">{{ cb.show }}</h2>
	  </td>
	</tr>
	{% if cb.show.callback_description %}
	<tr>
	  <td style="font-style: italic; padding-bottom: 4px; padding-top: 4px; font-size: 1.2em">
	    <em>{{ cb.show.callback_description|urlize|linebreaksbr }}</em>
	  </td>
	</tr>
	{% endif %}
	{% if cb.show.contact_email %}
	<tr>
	  <td align="center" style="padding-top: 4px; padding-bottom: 8px;">
	    With questions, please email <a href="mailto:{{ cb.show.contact_email }}">{{ cb.show.contact_email }}</a>.
	  </td>
	</tr>
	{% endif %}
	{% endifchanged %}
	<tr>
	  <td style="padding-top: 4px;">
	    <strong style="font-size: 1.2em;">{{ cb.character }}</strong>
	    <p style="margin-left: 20px; margin-bottom: 4px; margin-top: 4px; font-style: italic; font-size: 1.1em;">
	      <em>{{ cb.character.callback_description|urlize|linebreaksbr }}</em>
	    </p>
	  </td>
	</tr>
	{% if forloop.last %}
      </table>
    </td>
  </tr>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% if IS_HTML %}
  <style>
    .special-link {
    text-decoration: none;
    color: #666666;
    }
    .special-link:hover {
    text-decoration: underline;
    color: #333333;
    }
  </style>
  {% endif %}
  <tr>
    <td align="center" style="padding-top: 20px;">
      {% href 'casting:public_index_pk' 'view all callback lists for this season' crm.pk class='special-link' %}
    </td>
  </tr>
</table>
{% endblock %}
