{% extends "casting/email/base.html" %}
{% load email %}
{% load bt %}
{% load humanize %}

{% block body %}
<table cellpadding="0" cellspacing="8" width="100%">
  <tr>
    <td align="center">
      {% if IS_HTML %}
      <h2 style="margin-bottom: 4px; margin-top: 18px;">New Role Received</h2>
      {% endif %}
    </td>
  </tr>
  {% if IS_HTML %}
  <style>
    .special-link {
    text-decoration: none;
    color: #666666;
    }
    .special-link:hover {
    text-decoration: underline;
    color: #333333;
    }
  </style>
  {% endif %}
  <tr>
    <td align="center" style="font-size: 1.2em">
      You have now received the role of <strong>{{ role.character }}</strong> in <em>{{ role.character.show }}</em>!
    </td>
  </tr>
  <tr>
    <td align="center" style="font-weight: bolder; font-size: 1.1em;">
      {% href 'casting:actor_token' 'Click here' user.login_token %} to sign for other roles online.
    </td>
  </tr>
  <tr>
    <td align="center" style="padding-top: 8px;">
      {% href 'casting:public_index' 'view all cast lists' class='special-link' %}
    </td>
  </tr>
</table>
{% endblock %}
