{% extends "casting/sign_in/base.html" %}

{% load bootstrap %}

{% block content %}
<div class="text-center">
  <h1>Enter Profile Information</h1>
</div>
{% include "casting/sign_in/selected_shows.html" %}
<p class="lead text-center">
  Please provide the following additional information.
</p>
<p class="lead text-center">
  If you audition for additional shows later, you will not need to fill in
  this page again.
</p>
<div class="row justify-content-center">
  <form method="POST" class="col-lg-6 col-md-8 audition-sign-in-shows">
    {% if form.is_bound and not form.is_valid %}
    <div class="alert alert-danger" role="alert">
      There were errors in your profile! Please correct them below.
    </div>
    {% endif %}
    {% if not form.is_bound %}
    <div class="alert alert-info" role="alert">
      Please double-check that your email address is correct!
    </div>
    {% endif %}
    {% csrf_token %}
    {{ form|bootstrap }}
    <button type="submit" class="btn btn-primary btn-block">Continue</button>
  </form>
</div>
{% endblock %}
