{% extends "bt/default.html" %}

{% load crispy_forms_tags %}

{% block title %}Sign in | Common Casting{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-11">
    <p class="lead text-center">
      Please allow location access so we can figure out where to sign you in!
    </p>
    <div class="alert alert-danger d-none" role="alert">
      Unable to determine your location. Please refresh and try again or sign in
      at the table.
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-8">
    <p class="text-center">
      It may take a moment to determine your location, please be patient.
    </p>
  </div>
</div>
<form method="POST" class="d-none geolocation-form">
  {% csrf_token %}
  {{ form }}
</form>
{% endblock %}
