{% extends "casting/sign_in/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="text-center">
  <h1>Conflicts for this Season</h1>
</div>
{% include "casting/sign_in/selected_shows.html" %}
<p class="lead text-center">
  Please list any major or recurring conflicts. If you audition for additional
  shows this season, you will not need to fill in this page again.
</p>
<div class="row justify-content-center">
  <form method="POST" class="col-lg-6 col-md-8 audition-sign-in-shows">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary btn-block">Continue</button>
  </form>
</div>
{% endblock %}
