{% extends "casting/sign_in/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="text-center">
  <h1>Welcome to Common Casting</h1>
  {% if shows %}
  <p class="lead">
    {% if not located_user_signin %}Enter your email and select
    {% else %}Select{% endif %}
    the shows you wish to audition for to begin.
  </p>
</div>
<div class="row justify-content-center">
  <form method="POST"
	class="col-lg-6 col-md-8 audition-sign-in-shows">
    {% csrf_token %}
    {% if located_user_signin %}
    <div class="form-group">
      <label class="col-form-label sr-only " for="id_email">Email</label>
      <input type="email" name="email" class="form-control" readonly id="id_email" value="{{ request.user.email }}">
      {% if not request.session.popout %}
      <p class="form-text text-center">
	Not you? <a href="{% url 'dramaorg:logout' %}">Log out</a>
      </p>
      {% endif %}
    </div>
    {% else %}
    <div class="hide-labels">
    {{ form|crispy }}
    </div>
    {% endif %}
    <p class="lead text-center">
      Shows currently holding auditions at {{ object }}:
    </p>
    {% for show in shows %}
    {% ifchanged show.1 %}
    <div class="row mb-2 justify-content-center">
      <div class="col-md-9">
	<div class="custom-control custom-checkbox">
	  <input class="custom-control-input" type="checkbox"
		 name="shows" value="{{ show.1 }}:{{ show.2 }}"
		 id="show-{{ show.1 }}">
	  <label class="custom-control-label"
		 for="show-{{ show.1 }}">{{ show.0 }}</label>
	</div>
      </div>
    </div>
    {% endifchanged %}
    {% endfor %}
    <button type="submit" class="btn btn-primary btn-block">Sign In</button>
  </form>
  {% else %}
  <div class="lead text-danger">
    <big>
      <strong>No shows are currently holding auditions here.</strong>
      <br>Please come back later...
    </big>
  </p>
  {% endif %}
</div>
{% endblock %}
