{% extends "casting/sign_in/base.html" %}

{% load bootstrap %}

{% block content %}
<div class="text-center">
  <h1>Technical and Backstage Recruiting</h1>
</div>
{% include "casting/sign_in/selected_shows.html" %}
<p class="lead text-center">
  If you are not cast in {{ object.show }}, would you be interested in doing
  technical or backstage work on this production? If so, in what areas?
</p>
<div class="row justify-content-center">
  <form method="POST" class="col-lg-6 col-md-8 audition-sign-in-shows">
    {% csrf_token %}
    {{ form|bootstrap }}
    <button type="submit" class="btn btn-primary btn-block">Continue</button>
  </form>
</div>
{% endblock %}
