<td>{{ audition.signed_in }}</td>
<td>{{ audition.actor.get_full_name }}</td>
<td>{{ audition.actor.email }}</td>
<td>{{ audition.actor.phone }}</td>
<td>{{ audition.actor.pgps }}</td>
<!--<td class="copyable" hidden>
    <textarea>
      <td>{{ audition.actor.get_full_name }}</td>
      <td>{{ audition.actor.email }}</td>
      <td>{{ audition.actor.phone }}</td>
      <td>{{ audition.actor.pgps }}</td>
    </textarea>
</td>
<td><button class="btn btn-secondary btn-sm btn-copy-excel">
    copy to clipboard</button></td>-->
<td >
  {{ audition.get_status_display }}
  {% if audition.status == "waiting" %}
  <a href="{% url 'casting:audition_call' audition.pk %}"
     class="btn btn-primary btn-sm">call</a>
  {% endif %}
  {% if audition.status == "called" %}
  <a href="{% url 'casting:audition_done' audition.pk %}"
     class="btn btn-success btn-sm">done</a>
  {% endif %}
</td>
