{% load bt %}
<td class="align-middle">
  <span class="text-nowrap">{{ audition.signed_in|date:"F j" }}</span>,
  <span class="text-nowrap">{{ audition.signed_in|date:"g:i A" }}</span>
</td>
<td>{{ audition.actor.get_full_name }}</td>
<td>{{ audition.actor.pgps|break_punctuation }}</td>
<td class="copyable" hidden>
  <textarea>{{ audition.actor.get_full_name }}	{{ audition.actor.email }}	{{ audition.actor.phone }}	{{ audition.actor.affiliation }}	{{ audition.actor.year }}	{{ audition.actor.pgps }}	{{ audition.actor.gender_pref }}</textarea>
</td>
<td class="align-middle">
  {% if audition.tech_interest %}
  <i class="fa fa-wrench tech-interest-icon" data-toggle="tooltip"
     title="This actor may have expressed backstage/technical interest (click &quot;more info&quot; for details)"></i>
  {% endif %}
  <button class="btn btn-secondary btn-sm btn-copy-excel"
	  title="Copy actor information to clipboard for spreadsheets (includes email and phone)"
	  data-toggle="tooltip">
    copy</button>
  <a class="btn btn-primary btn-sm" tabindex="0" role="button"
     data-toggle="popover" data-html="true"
     data-title="Contact and Other Information" data-placement="top"
     data-content="
<div>{{ audition.actor.get_full_name }}
<span class=&quot;text-muted&quot;>
{% if audition.actor.pgps %}({{ audition.actor.pgps }}){% endif %}
</span><br>
{{ audition.actor.affiliationyear }}<br>
<span class=&quot;text-primary&quot;>{{ audition.actor.email }}</span><br>
{{ audition.actor.pretty_phone }}</div>
{% if audition.actor.gender_pref %}<div class=&quot;mt-2&quot;>
<span class=&quot;text-primary&quot;>Preferred Stage Gender:</span>
{{ audition.actor.gender_pref }}</div>{% endif %}
<div class=&quot;pre-wrap&quot;>
<span class=&quot;text-danger&quot;>Conflicts:</span>
{{ audition.actorseasonmeta.conflicts }}</div>
{% if audition.tech_interest %}
<div class=&quot;pre-wrap mb-2&quot;>
<span class=&quot;text-info&quot;>Tech Interest:</span>
{{ audition.tech_interest }}</div>
{% endif %}
">
    more info</a>
  {% if audition.actor.is_suspended %}
  <i class="fa fa-times-rectangle text-danger" data-toggle="tooltip"
     title="This actor is currently suspended from Common Casting and you will be unable to cast them"></i>
  {% endif %}
</td>
<td class="align-middle {% if audition.status == "done" %}text-success{% endif %}">
  {{ audition.get_status_display }}
  {% if audition.status == "called" %}
  at {{ audition.called_time|date:"g:i A" }}
  {% elif audition.status == "done" %}
  (took {{ audition.audition_minutes }} mins)
  {% endif %}
  {% if audition.show.release_meta.stage < 1 %}
  {% if audition.busy %}
  <div class="text-muted text-right">Busy with <i>{{ audition.busy.show }}</div>
  <div class="text-muted text-right">(since {{ audition.busy.called_time|date:"g:i A" }})</i></div>
  {% elif audition.status == "waiting" %}
  <a href="{% url 'casting:audition_call' audition.pk %}"
     class="btn btn-primary btn-sm ajaxify call-btn"
     data-actor-name="{{ audition.actor.get_full_name }}">ready</a>
  {% elif audition.status == "called" %}<br>
  <a href="{% url 'casting:audition_cancel' audition.pk %}"
     class="btn btn-danger btn-sm ajaxify">cancel</a>
  <a href="{% url 'casting:audition_done' audition.pk %}"
     class="btn btn-success btn-sm ajaxify">done</a>
  {% endif %}
  {% endif %}
</td>
