{% load bt %}
<td class="align-middle">
  <span class="text-nowrap">{{ audition.signed_in|date:"F j" }}</span>,
  <span class="text-nowrap">{{ audition.signed_in|date:"g:i A" }}</span>
</td>
<td>{{ audition.actor.get_full_name }}</td>
<td class="text-primary">{{ audition.actor.email|break_punctuation }}</td>
<td>{{ audition.actor.pretty_phone }}</td>
<td>{{ audition.actor.pgps|break_punctuation }}</td>
<td class="copyable" hidden>
  <textarea>{{ audition.actor.get_full_name }}	{{ audition.actor.email }}	{{ audition.actor.phone }}	{{ audition.actor.pgps }}</textarea>
</td>
<td class="align-middle">
  <button class="btn btn-secondary btn-sm btn-copy-excel"
	  title="Copy actor information to clipboard for spreadsheets"
	  data-toggle="tooltip">
    copy</button>
</td>
<td class="align-middle {% if audition.status == "done" %}text-success{% endif %}">
  {{ audition.get_status_display }}
  {% if audition.show.release_meta.stage < 1 %}
  {% if audition.status == "waiting" %}
  <a href="{% url 'casting:audition_call' audition.pk %}"
     class="btn btn-primary btn-sm ajaxify">call</a>
  {% endif %}
  {% if audition.status == "called" %}
  <a href="{% url 'casting:audition_done' audition.pk %}"
     class="btn btn-success btn-sm ajaxify">done</a>
  {% endif %}
  {% endif %}
</td>
