{% load bounddata %}
<li class="list-group-item stream-item {% if doblank %}blank signing-blank{% endif %}" {% boundattrs signing %}>
  <div class="input-group input-group-sm">
    <div class="input-group-prepend">
      <span class="input-group-text signing-count {% if not object.first_cast_submitted or object.first_cast_submitted and signing.order < character.allowed_signers and not doblank %}signing-count-no-alt{% endif %}"></span>
    </div>
    {% boundinput signing "order" type="hidden" %}
    {% if doblank or signing.editable %}
    <select class="form-control" {% boundattrs signing "actor" %}
	    data-select-src="{% url 'casting:show_actors' object.pk %}"
	    data-select-placeholder="Enter Actor Name...">
      {% if signing.actor %}
      <option value="{{ signing.actor.pk }}" selected>
	{{ signing.actor }}
      </option>
      {% endif %}
    </select>
    <span class="input-group-append reordering-buttons">
      <button {% boundattrs signing %}
	      class="btn btn-primary btn-decrease btn-action {% if doblank %}hidden{% endif %} fa fa-chevron-up"></button>
      <button {% boundattrs signing %}
	      class="btn btn-primary btn-increase btn-action {% if doblank %}hidden{% endif %} fa fa-chevron-down"></button>
    </span>
    <span class="input-group-append">
      <button {% boundattrs signing %}
	      class="btn btn-danger btn-delete btn-action {% if doblank %}hidden{% endif %} fa fa-times"></button>
    </span>
    {% if doblank %}
    <span class="input-group-append">
      <button {% boundattrs signing %} data-extras="character"
	      data-character="{{ character.pk }}"
	      class="btn btn-success btn-create btn-action fa fa-plus">
      </button>
    </span>
    {% endif %}
    {% else %}
    {% boundinput signing "actor" attr_readonly=True %}
    {% endif %}
  </div>
</li>
