{% load bt %}
<td class="text-nowrap align-middle">
  {{ audition.signed_in|date:"g:i A" }}
</td>
<td>{{ audition.actor.get_full_name }}</td>
<td>{{ audition.actor.pgps|break_punctuation }}</td>
<td>{{ audition.actor.affiliationyear|break_punctuation }}</td>
<td>{{ audition.show }}</td>
<td class="align-middle {% if audition.status == "called"%}bg-primary text-white text-uppercase{% elif audition.status == "done"%}text-success{% endif %}">
  {{ audition.get_status_display }}
  {% if audition.status == "called" %}
  <span class="text-lowercase">at</span>
  {{ audition.called_time|date:"g:i A" }}
  {% elif audition.status == "done" %}
  <span class="text-lowercase">
    (took {{ audition.audition_minutes }} mins)
  </span>
  {% endif %}
</td>
