{% load bt %}
<td class="text-nowrap align-middle">
  {{ audition.signed_in|date:"g:i A" }}
</td>
<td>{{ audition.actor.get_full_name }}
  {% if audition.actor.is_suspended %}
  <i class="fa fa-times-rectangle text-danger" data-toggle="tooltip"
     title="This actor is currently suspended from Common Casting"></i>
  {% endif %}
</td>
<td>{{ audition.actor.pgps|break_punctuation }}</td>
<td>{{ audition.actor.affiliationyear|break_punctuation }}</td>
<td>{{ audition.show }}</td>
<td class="align-middle {% if audition.status == "called"%}bg-primary text-white{% elif audition.status == "done"%}text-success{% endif %}">
  {{ audition.get_status_display }}
  {% if audition.status == "called" %}at
  {{ audition.called_time|date:"g:i A" }}
  {% elif audition.status == "done" %}
  (took {{ audition.audition_minutes }} mins)
  {% endif %}
</td>
