.venue-removal-warning {
    display: none;
}

.other-field {
    display: none;
}

.role-field .select2-container .select2-selection--single {
    height: 38px;
    padding-top: 4px;
}

.role-field .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px;
}

.pending-delete {
    opacity: 0.5;
}
.pending-delete :not(.deletion-message) {
    text-decoration: line-through;
}
.deletion-message {
    display: none;
}
.pending-delete .deletion-message {
    display: block;
    margin-top: -0.75rem;
    margin-bottom: .25rem;
}

.view-residencies thead td, .view-residencies thead th {
    vertical-align: bottom;
}
.view-residencies tbody td, .view-residencies tbody th {
    vertical-align: middle;
}

.nav-tabs.shaded-bg {
    padding: 0 25px;
    margin: 0 -25px 1rem;
}

.tab-content.shaded-bg {
    margin: -25px -25px 16px -25px;
    padding: 25px 25px 8px 25px;
}

.nav-tabs.shaded-bg .nav-link.active, .tab-content.shaded-bg {    
    background-color: #E8E8E8;
    border-bottom: none;
}

.view-budget .col-form-label,
.view-questions .col-form-label,
.view-individual .questions .col-form-label,
.no-form-label .col-form-label {
    display: none;
}

.nowrap {
    white-space: nowrap;
}
