.season-block {
    min-height: 180px;
    position: relative;
}
.season-block.card-group {
    flex-flow: row !important;
}

.season-block .card {
    min-width: 200px;
    background: transparent;
}

.season-venue-block {
    position: relative;
}

.season-show-block {
    position: absolute;
    width: 100%;
    min-height: 28px;
    background-color: #eee;
    border: 1px grey dashed;
    border-radius: 4px;
    padding: 2px 8px;
}

.season-show-block.no-residency {
    background-color: #f4d0b5;
}

.season-calendar-week {
    height: 50px;
    position: absolute;
    border-bottom: 1px grey dashed;
    width: 100%;
    margin-top: 3.5em;
    padding: 0.25rem 1.25rem;
}

.view-season ul.errorlist {
    margin-bottom: auto;
}
