.season-block {
    min-height: 400px;
}
.season-block.card-group {
    flex-flow: row;
}

.season-block .card {
    min-width: 200px;
}

.season-venue-block {
    position: relative;
}

.season-show-block {
    position: absolute;
    width: 100%;
    min-height: 28px;
    background-color: #eee;
    border-radius: 4px;
    padding: 2px 8px;
}
