.audition-sign-in-shows .custom-control-description {
    font-size: 1.5em;
}
.audition-sign-in-shows .custom-control {
    padding-left: 3rem;
}
.audition-sign-in-shows .custom-control-indicator {
    height: 2rem;
    width: 2rem;
}

.view-audition .copyable * {
    background-color: transparent;
    color: black;
}

table .btn {
    cursor: pointer;
}

.bt-sidebar-content {
    min-height: 24em;
}

.pulse {
    transition: all .5s ease-in-out;
}

.card-deck.horizontal-scroll .card {
    min-width: 300px;
}

.card-deck.horizontal-scroll .card:first-child {
    min-width: 480px;
}

.card-deck.horizontal-scroll {
    flex-flow: row nowrap;
    overflow-x: auto;
    padding: 0 1em;
}

.card>div>.form-group:last-child,
.card>div>.form-group:last-child p.form-text {
    margin-bottom: 0;
}

.blank > * > *:not(.btn-create):not(.input-group-btn) {
    opacity: 0.5;
    pointer-events: none;
}

.btn.hidden {
    display: none;
}

.card-block.list-group-flush {
    padding: 0;
    margin-top: -1px;
}
