.audition-sign-in-shows .custom-control-label {
    font-size: 1.5em;
}
.audition-sign-in-shows .custom-control {
    padding-left: 3rem;
}
.audition-sign-in-shows .custom-control-label::after,
.audition-sign-in-shows .custom-control-label::before {
    height: 1.75rem;
    width: 1.75rem;
    /*left: -2.25rem;*/
}

.custom-control-input:checked:disabled~.custom-control-label::before {
    background-color: #e9ecef;
}

.view-audition .copyable * {
    background-color: transparent;
    color: black;
}

table .btn {
    cursor: pointer;
}

.bt-sidebar-content {
    min-height: 24em;
}

.pulse {
    transition: all .5s ease-in-out;
}

.card-deck.horizontal-scroll .card {
    min-width: 18rem;
}
.view-cast_list .card-deck.horizontal-scroll .card {
    min-width: 20rem;
}

.card-deck.horizontal-scroll .card:first-child {
    min-width: 30rem;
}

.card-deck.horizontal-scroll {
    flex-flow: row nowrap;
    overflow-x: auto;
    padding: 0 1em;
}

.card-deck.horizontal-scroll .card.deck-margin-fixer {
    min-width: auto;
    width: 0px;
    margin-left: -10px;
    border-color: transparent;
}

.card>div>.form-group:last-child,
.card>div>.form-group:last-child p.form-text {
    margin-bottom: 0;
}

.blank > * > *:not(.btn-create):not(.input-group-append) {
    opacity: 0.5;
    pointer-events: none;
}

.btn.hidden {
    display: none;
}

.card>.list-group-flush {
    padding: 0;
    margin-top: -1px;
}

.card-columns .card {
    margin-bottom: .75rem;
}

@media (min-width: 576px) {
    .card-columns {
	column-count: 2;
    }
}
@media (min-width: 768px) {
    .card-columns {
	column-count: 3;
    }
}
@media (min-width: 992px) {
    .card-columns {
	column-count: 4;
    }
}
@media (min-width: 1200px) {
    .card-columns {
	column-count: 5;
    }
}

.limited-container-1200 {
    max-width: 1200px;
}

.fa.badge {
    font-size: 0.8rem;
    padding: 0.4em 0.4em 0.3em .4em;
}

.list-group-item select.form-control.select2-hidden-accessible~.input-group-append {
    margin-left: -2px;
}

.reordering-buttons {
    display: flex;
    flex-direction: column;
}

.reordering-buttons>button {
    height: 1.4rem;
    padding: 0 0.5rem !important;
    z-index: 3 !important;
    margin-left: -0.2rem !important;
}

.input-group-append>.btn-decrease {
    margin-top: -0.5rem;
    border-top-left-radius: 0.5em !important;
    border-top-right-radius: 0.5em !important;
}
.input-group-append>.btn-increase {
    margin-bottom: -0.5rem;
    border-bottom-left-radius: 0.5em !important;
    border-bottom-right-radius: 0.5em !important;
}

.card-block>.list-group-item:first-of-type .btn-decrease,
.card-block>.list-group-item:nth-last-of-type(2) .btn-increase {
    background-color: #cadced;
    border-color: #cadced;
    pointer-events: none;
}

.card-deck.horizontal-scroll>.card>.card-footer:last-child {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100px;
}

.card-deck.horizontal-scroll>.card>.card-block.list-group.list-group-flush {
    margin-bottom: 100px;
    overflow: auto;
}

.card-deck.horizontal-scroll>.card.cast-card>.card-footer:last-child {
    height: 186px;
}

.card-deck.horizontal-scroll>.card.cast-card>.card-block.list-group.list-group-flush {
    margin-bottom: 186px;
}

.card, .restart-signing-numbering {
    counter-reset: signing-counter;
}
.list-group .list-group-item.blank .signing-count {
    display: none;
}
.list-group .list-group-item .signing-count.signing-count-no-alt:before {
    content: counter(signing-counter);
}
.list-group .list-group-item .signing-count:before {
    content: "Alt " counter(signing-counter) ":";
    color: grey;
    counter-increment: signing-counter;
    width: 1rem;
    text-align: right;
}
.list-group .list-group-item.no-signing-numbering .signing-count:before {
    content: "1st:";
}

.input-group>span.select2-container .select2-selection {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group>span.select2-container:nth-child(4) .select2-selection {
    border-radius: 0;
}

span.select2-selection.select2-selection--single {
    height: 100%;
}

.card.stream-item .form-control[readonly] {
    background: transparent;
}

.input-group-sm span.select2-container {
    font-size: .925rem;
}

.signing-item span.badge.fa {
    height: 1.4rem;
}

.signing-item span.badge.fa:not(.badge-pill) {
    width: 1.4rem;
}

p.lead.only-small {
    line-height: 1.2;
}

.pre-wrap {
    white-space: pre-wrap;
}

.tech-interest-icon {
    display: inline-block;
    margin-left: -1.5em;
    padding-right: .3em;
}


@media (min-width: 768px) {
    #chat-window {
	width: 18rem;
	position: fixed;
	bottom: 0;
	z-index: 9999;
	display: none;
    }
    #chat-window.chat-right {
	right: 2rem;
	display: inherit;
    }
    #chat-window.chat-right .fa-chevron-right {
	display: none;
    }
    #chat-window.chat-left {
	left: 2rem;
	display: inherit;
    }
    #chat-window.chat-left .fa-chevron-left {
	display: none;
    }
}

#chat-window:not(.minimized) .fa-window-maximize {
    display: none;
}
#chat-window.minimized .fa-window-minimize {
    display: none;
}

#chat-window .card-body {
    height: 20rem;
    overflow-y: scroll;
    font-size: 0.9em;
}

#chat .badge {
    font-size: 1em;
}

.schedule-deck .card {
    min-width: 20rem;
    margin-top: 1rem;
}

.casting-public-description {
    text-align: justify;
}

@media (min-width: 768px) {
    .casting-public-description {
	column-count: 2;
    }
}

.filterable-instructions-never {
    position: absolute;
    bottom: 1em;
    right: 1em;
}
