
.view-upload .custom-file,
.view-upload .custom-file-input,
.view-upload .custom-file-label {
    height: calc(4rem + 2px);
}

.view-upload .custom-file-label {
    padding-right: 5.75rem;
}

.view-upload .custom-file-label::after {
    height: 4rem;
    padding: 1.25rem .75rem;
}

.fa-ul .fa-li {
    top: 0;
}

.archive-search-form #div_id_credit_type .form-check {
    display: inline-block;
    padding-right: 0.25rem;
}

.search-results-header {
    font-weight: bold;
}

.archive-search-form .form-group {
    margin: auto;
    line-height: 1.2;
}