.performancedate_formset .date-fieldset {
    position: relative;
}

.performancedate_formset .date-fieldset .col-form-label,
.performancedate_formset .date-fieldset .form-check {
    display: none;
}

.performancedate_formset .date-fieldset .delete-performance {
    position: absolute;
    top: 4px;
    right: 9px;
}

.peopleform .person-form:not(:last-of-type) {
    border-bottom: 2px lightgrey solid;
}

.peopleform .person-form button.remove-person {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 1rem;
}

@media (min-width: 576px) {
    .peopleform .person-form button.remove-person {
	margin-top: 2.3rem;
	margin-bottom: auto;
    }
}

.peopleform .deleted-row {
    opacity: 0.4;
    pointer-events: none;
}

.select2-container .select2-selection--single {
    height: 38px;
    padding-top: 4px;
    border-color: #ced4da
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px;
}

.calendar-select {
    width: 360px;
    margin: auto;
}

.calendar-select .input-group select {
    flex: 1.75 1;
    font-weight: bold;
}

.calendar-select .input-group input {
    font-weight: bold;
}

.calendar-table td {
    width: 0.1428571429%;
    height: 120px;
}

.calendar-day {
    float: right;
    margin-top: -0.5rem;
    margin-right: -0.25rem;
}

.calendar-show-item {
    font-size: 0.95rem;
}

.calendar-show-item .calendar-show-time {
    font-size: 0.85rem;
    white-space: nowrap;
}

body.embedded {
    background-color: transparent;
}
