.performancedate_formset .date-fieldset {
    position: relative;
}

.performancedate_formset .date-fieldset .col-form-label,
.performancedate_formset .date-fieldset .form-check {
    display: none;
}

.performancedate_formset .date-fieldset .delete-performance {
    position: absolute;
    top: 4px;
    right: 9px;
}

.peopleform .person-form:not(:last-of-type) {
    border-bottom: 2px lightgrey solid;
}
