{% extends "finance/base.html" %}

{% load i18n bt crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <h3 class="text-center">{{ object }} Income and Grants</h3>
  </div>
</div>
{% if user.is_staff and perms.finance.change_income %}
<div class="row justify-content-center mt-2">
  <div class="col-md-8">
    <p class="alert alert-info text-center">
      You are a site administrator. For more options, use the
      <a href="{% url 'admin:finance_income_changelist' %}?show={{ object.pk }}">Income Administration</a> page.
    </p>
  </div>
</div>
{% endif %}
{% if confirmed.exists %}
<div class="row justify-content-center mt-3">
  <div class="col-md-8">
    <h4 class="text-center">Confirmed Grants (Funds Received)</h4>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
	<tr>
	  <th>Income Source</th>
	  <th>Status</th>
	  <th>Requested</th>
	  <th>Received</th>
	</tr>
      </thead>
      <tbody>
	{% for i in confirmed %}
	<tr>
	  <td>{{ i.name }}</td>
	  <td>{{ i.get_status_display }}</td>
	  <td>${{ i.requested }}</td>
	  <td>${{ i.received }}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
{% if object.locked %}
<div class="row justify-content-center mt-2">
  <div class="col-md-8">
    <p class="alert alert-warning text-center">
      <i>{{ object }}</i>'s finances have been locked and may no longer be
      changed.
    </p>
  </div>
</div>
{% endif %}
<div class="row justify-content-center mt-2">
  <div class="col-md-8">
    <h4 class="text-center">Pending Grants</h4>
  </div>
</div>
<div class="row justify-content-center">
  <form method="POST" class="col incomeform">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
    {% if not object.locked or form.instance.pk %}
    <div class="income-form">
      <div class="form-row">
	{{ form.id }}
	<div class="col-md-4 col-sm-12">
	  {{ form.name|as_crispy_field }}
	</div>
	<div class="col-md-2 col-sm-3 dollar-field requested-field">
	  {{ form.requested|as_crispy_field }}
	</div>
	<div class="col-md-2 col-sm-3 dollar-field received-field">
	  {{ form.received|as_crispy_field }}
	</div>
	<div class="col status-field">
	  {{ form.status|as_crispy_field }}
	</div>
	{% if not object.locked %}
	<div class="col-md-1 col-sm-3 mt-3">
	  <button type="button"
		  class="btn btn-sm btn-danger mt-4 remove-income">
	    <i class="fa fa-minus-square"></i>
	  </button>
	</div>
	{% endif %}
      </div>
      <div class="d-none">
	{{ form.DELETE|as_crispy_field }}
      </div>
      {% if form.non_field_errors %}
      <div class="alert alert-danger">{{ form.non_field_errors }}</div>
      {% endif %}
    </div>
    {% endif %}
    {% endfor %}
    {% if not object.locked %}
    <button type="submit" class="btn btn-primary btn-block">
      Save Changes / Add Another
    </button>
    {% endif %}
  </form>
</div>

<div class="row justify-content-end mt-3">
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
	<tr>
	  <th>Total Requested</th>
	  <th>Total Received</th>
	  <th>Funds Received</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td><span id="total-requested-income">...</span></td>
	  <td><span id="total-received-income">...</span></td>
	  <td>{{ object.confirmed_income }}</td>
	</tr>
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript">
 let total_confirmed_income = {{ object.confirmed_income_val }};
</script>
{% endblock %}
